/* Global styles */
html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 110px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #152c24;
    color: #000000;
    font-family: 'Bodoni', bodoni;
    line-height: 1.6;
}

#content {
    margin: 0;
    padding: 0;
    background-color: #152c24;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto 0;
    padding: 15px;
    background-color: #152c24;
}

.container2:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.dropdown {
    position: relative;
  display: inline-block;
}

.dropdown button {
  background-color: #152c24;
  color: #ffffff;
  padding: 28px;
  font-size: 30px;
  border: none;

}

.dropdown-content {
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.spacer {
    flex-grow: 1;
}

h1 {
    color: #152c24;
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 70%;
    margin: auto;
    margin-top: 5px;
    padding: 20px;
    font-size: 0.85rem;
    border: 8px solid #1e4439;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    color: #000000;
}

.container:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

main {
    padding: 25px 0;
}

h2 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: 'Bodoni', bodoni;
    border-bottom: 3px solid #96084c;
    padding-bottom: 10px;
    text-align: center;
}

p {
    margin: 15px 0;
    color: #000000;
    font-size: 10.75rem;
    line-height: 1.8;
}

section {
    margin-bottom: 60px;
}

ul {
    list-style: none;
    padding: 0;
}

ul a {
    background: url('../static/images/check.png') no-repeat left center;
    background-size: 20px;
    padding: 15px 0 15px 40px;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.75rem;
    color: #000000;
    transition: background-color 0.3s ease-in-out;
}

ul a b {
    color: #000000;

}

.top-link {
    display: inline-block;
    text-align: right;
    margin-top: 20px;
    float: right;
}

.top-link img {
    width: 20px;
    height: 20px;
}

#our-story {
    width: 100%
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}
.top-link {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.timeline-event {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    width: 100%;
    position: relative;
    padding: 0 20px;
}

.timeline-event:nth-child(odd) {
    flex-direction: row-reverse;
}

.timeline-date {
    width: 120px;
    text-align: center;
    padding: 4px 3px;
    background-color: #f3961c;
    border: 1px solid #000;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    position: absolute;
    right: -20px;
    top: 0;
    transform: translateY(-20%);
    z-index: 1;
}

.timeline-event:nth-child(odd) .timeline-date {
    left: -60px;
    right: auto;
}

.timeline-content {
    padding: 20px;
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: calc(100% - 120px);
    margin-left: 120px;
    position: relative;
}

.timeline-event:nth-child(odd) .timeline-content {
    margin-left: 0;
    margin-right: 120px;
}

/* Additional Yellow Underline in Cards */
.timeline-content::before {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #f3961c;
    border-radius: 2px;
}

.timeline-event:not(:last-child) {
    margin-bottom: 40px;
}

.timeline-content h2 {
    margin-top: 0;
    font-size: 20px;
    color: #000;
}

.timeline-content p {
    margin: 10px 0 0;
    font-size: 16px;
    color: #555;
}

.team-members {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;
}

.member {
    width: 1%;
    min-width: 255px;
    background-color: #e5e5e5;
    margin: 20px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.member:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.member-photo {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 20px;
    width: 160px;
    height: 160px;
}

.member-photo img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}


.member-info h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #111;
}

.member-info h3 {
    font-size: 1.6em;
    margin-bottom: 15px;
    color: #777;
}

.member-info p {
    font-size: 1.4em;
    color: #555;
    line-height: 1.6;

}
.member101 {
    width: 80%;
    background-color: #e5e5e5;
    margin: 0.00001px;
    padding: 30px;
    transform: translateX(7.5%);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links li {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: scale(1.2);
}

.social-links img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#our-mission {
    padding: 1em 2em;
    background-color: #fff;
    color: #2c3e50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2em 0;
    border-radius: 15px;
}

.mission-header, .mission-footer {
    max-width: 0 auto;
    margin: 0 auto;
}

.mission-header h2 {
    font-size: 3.5em;
    margin-bottom: 0.5em;
    color: #000000;
}

.mission-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, .5fr));
    gap: 15px; /* 2em typically equals 32px */
    padding: 2em;
}

.mission-item {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.mission-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mission-item .content {
    padding: 1em;
    background-color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.mission-item h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #000000;
}

/* to change font, take this out*/
.mission-item p {
    font-size: 1.5em;
    line-height: 1.6;
}

.mission-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.top-link {
    display: block;
    text-align: center;
    margin: 2em auto 0;
    transition: transform 0.3s;
}

.top-link img {
    width: 24px;
    height: auto;
}

.top-link:hover {
    transform: translateY(-5px);
}
#futuristic-aspects {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 50px 20px;
}

.hero {
    height: px;
    background: url('../static/images/futuristic-hero.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}

.hero-content {
    max-width: 800px;
    text-align: center;
    color: #fff;
    z-index: 1;
}

.hero h1 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
    color: #000000;
}

.hero p {
    font-size: 1.3em;
    margin-bottom: 0;
}

.aspect-grid {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-bottom: 0 auto;

}

.aspect-item {
    flex: 1 1 calc(50% - 25px); /* Two items per row, minus the gap */
    background: #f9f9f9;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
}

.aspect-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}


.aspect-item h2 {
    font-size: 2em;
    margin-bottom:
    .5em;
    color: #000000l;
    border-bottom: 3px solid #000000;
}

.aspect-item p {
    font-size: 1.5em;
    line-height: 1.6;
    color: #000000
}

.cta, cta1, myBtn, myBtn1 {
    margin-top: 50px;
}

.cta-button, cta1, myBtn, myBtn1{
    display: inline-block;
    padding: 15px 30px;
    background-color: #f3961c;
    color: #fff;
    border-radius: 25px;
    font-size: 1em;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #96084C;
    transform: scale(1.05);
}

h2 {
    font-size: 3.5em;
    font-weight: 600;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

p {
    font-size: 2.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 1.75em;
    line-height: 1.6;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f9f9fb;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
}

li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

#more{
    display: none;
}

#myBtn{
    display: block;
    margin: 0 auto;
    padding: .3em .7em;
    font-size: 1.25rem;
    align: center;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #96084c;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#myBtn1{
    display: block;
    margin: 0 auto;
    padding: .3em .7em;
    font-size: 1.25rem;
    align: center;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #96084c;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#myBtn:hover {
    background-color: #f3961c;
}

#myBtn1:hover {
    background-color: #f3961c;
}

.text1{
    font-size: 20px;

}

#text1{
    font-size: 20px;

}
