/* Global styles */
html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 110px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #152c24;
    color: #000000; /* Black body text */
    font-family: 'Bodoni', bodoni;
    line-height: 1.6;
}

/* Styling for the main content area */
#content {
    margin: 0;
    padding: 0;
    background-color: #152c24;
}

/* Styling for the central container */
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px auto 0;
    padding: 15px; /* Adjust padding to make smaller */
    background-color: #152c24;
    text-shadow: 2.25px 2.25px black;
}

.container2:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

/* Dropdown menu styles */
.dropdown {
    position: relative;
    margin-right: 10px; /* Adjust margin as needed */
}

.dropdown button {
    background-color: transparent;
    border: none;
    font-size: 1rem; /* Adjust font size as needed */
    cursor: pointer;
    color: #000000; /* Black text */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 120px; /* Adjust min-width as needed */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black; /* Black text */
    padding: 8px 12px; /* Adjust padding as needed */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.spacer {
    flex-grow: 1;
}

h1 {
    color: #152c24;
    font-size: 2rem; /* Adjust font size as needed */
    margin: 0;
    padding: 0;
    text-align: center;
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: auto;
    margin-top: 5px;
    padding: 20px 100px 100px 100px;
    border: 8px solid #1e4439;
    background-color: #ffffff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    color: #000000; /* Black text */
}

.container:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

main {
    padding: 25px 0;
}

h2 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 3.5rem;
    border-bottom: 3px solid #96084c;
    padding-bottom: 10px;
    text-align: center;
}

p {
    margin: 15px 0;
    color: #555;
    font-size: 1.75rem;
    line-height: 1.8;
}

section {
    margin-bottom: 60px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: url('../static/images/check.png') no-repeat left center;
    background-size: 20px;
    padding: 15px 0 15px 40px;
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    font-size: 1.75rem;
    color: #555;
    transition: background-color 0.3s ease-in-out;
}

ul li b {
    color: #004526;
}

.top-link {
    display: inline-block;
    text-align: right;
    margin-top: 20px;
    float: right;
}

.top-link img {
    width: 20px;
    height: 20px;
}
