#content {
    position: relative;
    height: calc(100vh - (135px + 90px));
}

#navbar-spacer {
    margin-bottom: 0;
}

#footer {
    margin-top: 0; 
}

#admin-title h1 {
    position: absolute;
    color: #ffffff;
    display: flex;
    margin-top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
}

#admin-title h2 {
    position: absolute;
    color: #ffffff;
    display: flex;
    margin-top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
    font-style: italic;
}


#admin-tabs {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
}


.admin-link {
    top: 0;
    left: 20px;
    padding: 20px 10px;
    margin: 0 1%;
    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}