/* Body styles */
#content {
    font-family: 'Merriweather', merriweather;
    background-color: #152c24;
    margin: 0;
    padding: 20px;
    color: #ffffff;
}

/* Heading styles */
h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Table styles */
table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #1e4439;
    color: #ffffff;
    border-radius: 12px;
}

th, td {
    border: 1px solid #ffffff;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #1e4439;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #234135;
}

tr:hover {
    background-color: #2b5c50;
    transition: background-color 0.3s ease;
}

#popup {
    position: absolute;
    width: 275px;
    padding: 20px;

    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 4px;

    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

#popup > h3 {
    margin-top: 0;
}

#popup > p {
    margin-bottom: 0;
}

#popup-close-button {
    cursor: pointer;
    float: right;
}

#header {
    position: relative;
    margin: 0 5%;
}

#date-input {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    padding: 10px;
    width: 15%;
    max-width: 175px;

    background-color: #1e4439;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

.booked {
    border: none;
}

#cancel {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    padding: 0;
    box-sizing: border-box;
}

#cancel input {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#cancel img{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0;
    box-sizing: border-box;
}