#content {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 225px);
    margin: 0;
    background-color: #f0f0f0;
}

#create_form {
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    width: 40%;
}

#create_form > label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#create_form > input[type="text"], #create_form > input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#create_form > input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#create_form > input[type="submit"]:hover {
    background-color: #45a049;
}

#table {
    display: block;
    margin-left: 0;
    width: 60%;
}

#title45 {
    text-align: center;
}

