h1 {
  p.solid {border-style: solid;}
  text-align: centre;
  color:white;
  font-family: "Bookman Old Style", Times, serif;
  text-align: center;
}

label {
font-size: 20px;
}
form {
font-family: "Bookman Old Style";
text-align: center;
color:white
}

input[type=text] {
 width: 600px;
 height: 50px;
 border: 4px solid orange;
 border-radius: 4px;
 background-color: white

}




input[type=button], input[type=submit], input[type=reset] {
  background-color: #1e4439;
  border: 4px solid white;
  border-radius: 4px;
  color: white;
  padding: 16px 280px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


#reason {
width: 600px;
height: 200px;
padding-top: 0px;
border: 4px solid orange;
border-radius: 4px;
background-color: white
}


