body {
background-color:#3e6347;
}

h1 {
p.solid {border-style: solid;}
text-align: centre;
color:white;
font-family: "Tahoma", Times, serif;
text-align: center;
text-shadow: 2px 2px 4px #000000;
}

form {
font-family: "Century Gothic";
text-align: center;
color:white
}

input[type=text] {
width: 600px;
height: 50px;

}

input[type=button], input[type=submit], input[type=reset] {
  background-color: #white;

}

#reason {
width: 600px;
height: 200px;
padding-top: 0px;
}
