body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


.small-image{
     height: 165px;
     width: 250px;
     padding-top: 10px;
     background-color: #3e6347;
     transition: all 100ms ease;
     box-sizing: border-box;
}

.small-image:hover {
    filter: brightness(0%);
    background-color: transparent;
}

#logo {
    width: 250px;
    overflow: hidden;
}

#home-page-button {
    height: 170px;
    width: 250px;
}

#home-page-button:hover {
    background-color: #f3961c;
}

nav {
    background-color: #3e6347;
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
}


#navbar-spacer {
    height: 90px;
}

#footer-spacer {
    height: 135px;
    width: 100%;
}

.nav-element {
    height: 100%;
    color: #ffffff;
    background-color: #3e6347;

    border-right: 2px solid #ffffff ;

    width: 10%;
    min-width: 40px;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all 200ms ease;
}

.nav-element:has(a):hover {
    background-color:  #f3961c;
    color: #000000;
}

.nav-element > a, .nav-element > div, #account-dropdown > * {
    margin: 0;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

nav * {
    text-shadow: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-element a h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.nav-element > img {
    height: 85%;
    margin: 10px;
}

.nav-element:has(h1) {    
    width: 250px;
    max-width: none;
    flex-direction: row;
    background-color: #3e6347;
}

#login-tab {
    background-color: #3e6347;   
    color: #ffffff;
}

#signup-tab, #account-tab {
    margin-left: auto;
    background-color: #3e6347;
    color: #ffffff;
    position: relative;
    border-left: 2px solid #ffffff;
}

#login-tab:hover, #signup-tab:hover {
    background-color: #f3961c;
    color: #000000;
}

#account-tab:hover #account-dropdown, #account-dropdown:hover {
    visibility: visible;
}

#account-dropdown {
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;

    top: 100%;
    right: 0px;
    min-width: 100%;
    background-color: #3e6347;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 0 0 4px 4px;
}

#account-dropdown > form {
    padding: 0;
}

#account-dropdown * {
    padding: 10px;
    border-top: 2px solid #004526;
    box-sizing: border-box;
}

#logout-button {
    cursor: pointer;
    background-color: inherit;
    padding: 10px;
    border: none;
    font-size: 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

#title {
    color: #ffffff;
    font-size: 30px;
}

#footer {
    background-color: #3e6347;
    position: absolute;
    bottom: 0;
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
    min-height: 135px;
}

#footer * {
    font-family: Arial, Helvetica, sans-serif;
}

#social-media {
    margin: 5px;
    width:240px;
    height: 85px;
    padding: 5px;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
}

.social-media-icon {
    height: 40px;
    margin: 5px;
    filter: invert();
}

#mailing-list {
    color: #ffffff;
    padding-left: 20px;
    padding-top: 25px;
    /* transform: translateX(50%); */
    font-size: 20px;
}

#email {
    padding: 15px;
    width: 350px;
    height: 40px;
    box-sizing: border-box;
    font-size: 15px;
}

#copyright {
     text-align: right;
     vertical-align: text-bottom;
     height: 100%;
     margin-left: auto;
}

#copyright > p {
    padding-right: 10px;
    padding-top: 80px;
    margin: 0px;
    font-size: 20px;
    color: #ffffff;
}

#content {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}