body {
    margin: 0;
    position: relative;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #152c24;
}

#flashes {
    position: fixed;
    right: 0;
    top: 90px;
    display: block;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
    font-size: 20px;
    z-index: 10000000;
}

.flash {
    margin: 10px;
    margin-left: auto;
    animation: fadeIn 200ms;
    animation-fill-mode: forwards;
    overflow: visible;
    box-sizing: border-box;
    height: 60px;
    min-width: 300px;
    width: fit-content;
}

.flash div {
    border-radius: 5px;
    color: #ffffff;
    padding: 17.5px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.flash-fadeout {
    animation: fadeOut 200ms;
    animation-fill-mode: forwards;
}

.flash-message div {
    background-color: #429255;
}

.flash-error div {
    background-color: red;
}

.flash-info div {
    background-color: dodgerblue;
    overflow-wrap: break-word;
    padding-right: 55px;
}

.flash-info .x-button {
    background-color: transparent;
    box-sizing: border-box;
    position: absolute;
    padding: 0;

    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 30px;
    color: #ffffff;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 1px;

    cursor: pointer;
    user-select: none;
}

@keyframes fadeIn {
    from {opacity:0; transform: translateY(20px);}
    to {opacity:1; transform: none;}
}

@keyframes fadeOut {
    from {opacity: 1; transform: none; max-height: 60px;}
    to {opacity: 0; transform: translateY(-60px); max-height: 0; margin-bottom: 0; margin-top: 0;}
}


.small-image{
    height: 85px;
    padding-top: 5px;
    background-color: transparent;
    transition: filter 200ms ease;
}


#logo {
    min-width: 250px;
    max-width: 250px;
    overflow: hidden;
    background-color: #004526;
}

#home-page-button {
    height: 170px;
    width: 250px;
    transition: all 200ms ease;
    filter: brightness(100%);
    background-color: transparent;
}

#home-page-button:hover {
    background-color: #f3961c;
}

#home-page-button:hover img {
    filter: brightness(0);
}

nav {
    background-color: #3e6347;
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1000000;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: left;
    font-family: Arial, Helvetica, sans-serif;
}


#navbar-spacer {
    height: 90px;
    margin-bottom: 2%;
}

.nav-element {
    height: 100%;
    color: #ffffff;
    background-color: #3e6347;

    /* border-right: 2px solid #ffffff ; */

    width: 11%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: all 200ms ease;
}

.nav-element:has(a):hover {
    background-color:  #f3961c;
    color: #000000;
}

.nav-element > a, .nav-element > div, #account-dropdown > * {
    margin: 0;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

nav * {
    text-shadow: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-element a h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.nav-element > img {
    height: 85%;
    margin: 10px;
}

.nav-element:has(h1) {
    width: 250px;
    max-width: none;
    flex-direction: row;
    background-color: #3e6347;
}

#login-tab {
    background-color: #004526;
    color: #ffffff;
}

#signup-tab, #account-tab {
    margin-left: auto;
    background-color: #004526;
    color: #ffffff;
    position: relative;
    /* border-left: 2px solid #ffffff; */
}

#login-tab:hover, #signup-tab:hover {
    background-color: #f3961c;
    color: #000000;
}

#account-tab:hover #account-dropdown, #account-dropdown:hover {
    visibility: visible;
}

#account-dropdown {
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;

    top: 100%;
    right: 0px;
    min-width: 100%;
    background-color: #004526;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 0 0 4px 4px;
}

#account-dropdown > form {
    padding: 0;
}

#account-dropdown a, #account-dropdown form {
    padding: 10px;
    border-top: 2px solid #004526;
    box-sizing: border-box;
}

#account-dropdown input {
    margin: 0;
}

.account-dropdown-spacer, .account-dropdown-top {
    width: 80%;
    box-sizing: border-box;
    padding: 2px;
    border-radius: 2px;
    align-self: center;
}

.account-dropdown-top {
    background-color: #f3961c;
}

.account-dropdown-spacer {
    background-color: #152c24;
}

.nav-element > a, .nav-element > div, #menu-dropdown > * {
    margin: 0;
    color: inherit;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

#menu-tab {
    position: relative; /* Ensure the tab is positioned relative */
}

#menu-tab:hover #menu-dropdown, #menu-dropdown:hover {
    visibility: visible;
}

#menu-dropdown {
    visibility: hidden;
    position: absolute;
    box-sizing: border-box;

    top: 100%;
    left: 0; /* Align dropdown to the left of the tab */
    width: 100%; /* Make dropdown the same width as the tab */
    background-color: #004526;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-radius: 0 0 4px 4px;
}

#menu-dropdown > form {
    padding: 0;
}

#menu-dropdown a, #menu-dropdown form {
    padding: 10px;
    border-top: 2px solid #004526;
    box-sizing: border-box;
}

.menu-dropdown-top {
    background-color: #f3961c;
}


#logout-button {
    cursor: pointer;
    background-color: inherit;
    padding: 10px;
    border: none;
    font-size: 20px;
    color: white;
    width: 100%;
    box-sizing: border-box;
}

#footer {
    background-color: #004526;
    bottom: 0;
    font-size: 18px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    margin-top: 2%;
    box-sizing: border-box;
    min-height: 135px;
    line-height: normal;
}

#footer div {
    margin: auto 0;
}

#footer * {
    font-family: Arial, Helvetica, sans-serif;
}

#social-media {
    margin: 5px;
    width:240px;
    height: 85px;
    padding: 5px;
    background-color: transparent;
    color: #ffffff;
    font-size: 18px;
}

.social-media-icon {
    height: 40px;
    margin: 5px;
    filter: invert();
}

#mailing-list {
    color: #ffffff;
    padding-left: 20px;
    /* padding-top: 25px; */
    /* transform: translateX(50%); */
    font-size: 18px;
}

#email {
    padding-left: 50px;
    padding: 15px;
    width: 350px;
    height: 40px;
    box-sizing: border-box;
    font-size: 15px;

}

#copyright {
     text-align: right;
     vertical-align: text-bottom;
     height: 100%;
     margin-left: auto;
}

#copyright > p {
    padding-right: 10px;
    padding-top: 80px;
    margin: 0px;
    color: white;
}

#content {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    min-height: calc(100vh - (135px + 90px));
}

#footer > #address p, #address, #hours p {
    line-height: normal;
    text-align: left;

    color: #ffffff;
    margin: 0;
}

#footer > #hours {
    line-height: normal;
    text-align: left;

    color: orange;

    box-sizing: border-box;
    padding-left: 90px;
    margin: 0;
}

#footer > #address {
    color: orange;
}

#accountuser {
    color: orange;
}