@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

#content {
    text-align: center;
    min-height: calc(100vh - (225px + 35px + 35px));
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    margin-top: 35px;
    margin-bottom: 35px;
}



.form-wrapper {
    left: 50%;
    top: 50%;
    border-radius: 4px;
    padding: 70px;
    padding-top: 20px;
    width: 400px;
    background-color: #004526;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #e5e5e5;
    height: 50%;
}

.form-wrapper h2 {
    color: #fff;
    font-size: 2rem;
}

.form-wrapper form {
    margin: 20px 0 45px;
}

.form-control {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.form-control input {
    height: 50px;
    width: 100%; /* Use full width of the container */
    background: #3e6347;
    border: none;
    outline: none; /* Changed from shadow to none */
    border-radius: 4px;
    color: #fff; /* Changed text color for better visibility */
    font-size: 1rem;
    padding: 0 20px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.form-control label {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
    pointer-events: none;
    color: #fff;
    transition: all 0.1s ease;
}

.form-control input:is(:focus, :valid) ~ label {
    font-size: 0.75rem;
    transform: translateY(-130%);
}

form button {
    width: 100%;
    padding: 16px 0;
    font-size: 1rem;
    background: #3e6347;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none; 
    margin: 25px 0 10px;
    cursor: pointer;
    transition: 0.1s ease;
}

form button:hover {
    background: #45a049;
    transition: 100ms;
}

.form-wrapper a:hover {
    text-decoration: underline;
}

form .form-help {
    display: flex;
    justify-content: space-between;
}

form .remember-me {
    display: flex;
    align-items: center; /* Align items vertically */
}

form .remember-me input {
    margin-right: 5px;
    accent-color: #3e6347;
}



@media (max-width: 740px) {
    body::before {
        display: none;
    }

    nav, .form-wrapper {
        padding: 20px;
    }

    nav a img {
        width: 140px;
    }

    .form-wrapper {
        width: 100%;
        top: 43%;
    }

    .form-wrapper form {
        margin: 25px 0 40px;
    }
}

.password-eye {
    height: 25px;
    width: 25px;
    position: absolute;

    right: 0px;
    top: 0px;
    transform: translate(-50%, 50%);

    content:url("/static/images/eye_slash.png");
    filter: invert();
    cursor: pointer;
}

input[type="text"] ~ .password-eye {
    content:url("/static/images/eye.png");
}