#content {
    background-color: #152c24;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #1e4439;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    padding: 40px;
    width: 400px;
    max-width: 90%;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: 'Roboto', roboto;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }
  
  .section_title::after {
      content: '';
      width: 100px;
      background: #f3961c;
      height: 5px;
      display: block;
      margin: 7px auto 0;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="password"] {
    width: 80%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    padding: 12px 20px;
    width: 80%;
    background-color: #f3961c;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  input[type="submit"]:hover {
    background-color: #96084C;
  }
  
  p {
    margin-top: 16px;
    font-size: 14px;
    color: #555;
  }
  
   