
/* General styling */
#content {
    font-family: Arial, sans-serif;
    font-size: 20px;
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
    min-height: calc(100vh - (225px + 35px + 35px));
    overflow: visible;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#create_form {
    padding: 40px;
    padding-top: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 50%;
    top: 15%;
    background: #004526;;
    color: #ffffff;
}

#create_form > h2 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"], input[type="submit"], #signup-email, input[type="password"] {
    width: 100%; 
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 15px;
    color: #e5e5e5;
    background: #3e6347;
    border: none;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #3e6347;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #45a049;
    transition: 100ms;
}

#password-error {
    font-size: 15px;
    color: red;
}

#password-container {
    position: relative;
}

#signup-password:not(:placeholder-shown) ~ #password-popup,
#signup-password:focus ~ #password-popup{
    opacity: 1;
    transform: none;
}

#password-popup {
    opacity: 0;
    transform: translateY(15px);
    transition: all 200ms ease-out;

    position: absolute;
    left: calc(100% + 40px + 30px);
    top: 0;
    width: 275px;
    padding: 15px;

    background-color: white;
    border: 2px solid lightgrey;
    border-radius: 4px;

    color: black;
    font-size: 14px;
}

#requirements {
    list-style: none;
    padding-left: 25px
}

.req {
    color: red;
}

.req-satisfied {
    color: forestgreen;
}

.req::before, .req-satisfied::before {
    position: relative;
    right: 15px;
    font-weight: bold;
}

.req::before {
    content: "X";
}

.req-satisfied::before {
    content: "✓";
}

.password-eye {
    height: 25px;
    width: 25px;
    position: absolute;

    right: 0px;
    bottom: calc(15px + 23.5px);
    transform: translate(-50%, 50%);

    content:url("/static/images/eye_slash.png");
    filter: invert();
    cursor: pointer;
}

input[type="text"] ~ .password-eye {
    content:url("/static/images/eye.png");
}