{% extends "layout.html" %}
{% block title %}About{% endblock %}

{% block head %}
{{ super() }}
<meta name="viewport" content="width = device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
<script src="{{ url_for('static', filename='js/about.js') }}"></script>
{% endblock %}
{% block content %}
<body>
    <div class="container2" id="bangboom">
        <div class="dropdown" style="float:left">
            <button><i class="fa-solid fa-bars">▼</i></button>
            <div class="dropdown-content" >
                <a href="#about-us">About Us</a>
                <a href="#our-story">Our Story</a>
                <a href="#our-mission">Our Mission</a>
                <a href="#facing-the-future">Facing The Future</a>
                <a href="#meet-the-team">Meet The Team</a>
                <a href="#website-developers">Website Developers</a>
                <a href="#why-choose-us">Why Choose Us?</a>
            </div>
        </div>
        <h1 style="color:white">Finch & Goose</h1>
    </div>
    <main>
        <div class="container">
            <section id="about-us">
                <h2>About Us</h2>
                <br>
                <img src="../static/images/aboutpage/greenmap.png" class="map";>
                <p class="text1">Welcome to Finch and Goose, where the future of dining comes to life. Nestled by the serene lakeside, our restaurant offers a unique blend of cutting-edge technology and culinary excellence.  Our smart tables provide interactive, multi-sensory experiences, while our menus cater to your unique tastes and dietary needs. At Finch and Goose, we embrace sustainable practices with zero-waste kitchens and hyper-fresh, locally sourced ingredients. Join us for an unparalleled gastronomic adventure that redefines the boundaries of fine dining, offering an immersive, innovative, and eco-friendly experience.</p>
                <a href="#" class="top-link"><img src="static/images/up-arrow.svg" alt="Return to Top"></a>
            </section>

           <section id="our-story">
    <h2>Our Story</h2>

    <div class="timeline">
        <div class="timeline-event">
            <div class="timeline-content">
                <h2>The Beginning</h2>
                <p>John Finch and Steve Goose, childhood friends, always dreamed of owning the best restaurant ever. As kids, they had crazy, creative ideas, like goose-themed restaurants, which seemed far-fetched. Four years ago, on a winter's evening, they decided to make this dream a reality.</p>
                <div class="timeline-date">December, 2020</div>
            </div>
        </div>
        <div class="timeline-event">
            <div class="timeline-content">
                <h2>The Dream Continues</h2>
                <p>Just over a year after reconnecting, John and Steve nearly lost hope of finding a suitable location. Then, on a morning stroll, they discovered a rundown boat house by a stunning lakeside. They immediately knew this was the perfect spot for Finch And Goose.</p>
                <div class="timeline-date">January, 2022</div>
            </div>
        </div>
        <div class="timeline-event">
            <div class="timeline-content">
                <h2>The Game Plan</h2>
                <p>After countless hours of hard work, the finish line was finally within reach. They poured their hearts into renovating the boathouse, preserving its charm while adding modern touches. With a unique menu, a stunning website, and top chefs from around the world, they were ready to take over.</p>
                <div class="timeline-date">October, 2022</div>
            </div>
        </div>
        <div class="timeline-event">
            <div class="timeline-content">
                <h2>The Current Status</h2>
                <p>As of now, business is thriving! Our menu attracts customers from around the world, and our restored rustic site sets the perfect backdrop for all. With events through the year and futuristic elements like robotic waiters, our restaurant's success continues.</p>
                <div class="timeline-date">July, 2024</div>
            </div>
        </div>
    </div>
            </section>


            <section id="our-mission">
             <div class="mission-header">
            <h2>Our Mission</h2>
                    <p class="text1">At Finch & Goose, our mission is to delight our guests with an exceptional dining experience that blends creativity, quality ingredients, and warm hospitality. We are dedicated to:</p>
                 </div>
        <div class="mission-items">
            <div class="mission-item">
                <img src="../static/images/culinaryinnovation.png" alt="Celebrating Culinary Innovation">
                <div class="content">
                    <h3>Celebrating Culinary Innovation</h3>
                    <p>Our inventive fusion of Finch-inspired delicacies and goose-centric cuisine aims to surprise and delight with flavors that are both comforting and adventurous.</p>
                </div>
            </div>
            <div class="mission-item">
                <img src="../static/images/promoting-sustainability.png" alt="Promoting Sustainability">
                <div class="content">
                    <h3>Promoting Sustainability</h3>
                    <p>We source fresh, locally grown ingredients and implement eco-friendly practices to minimize our environmental footprint, supporting local farmers and artisans.</p>
                </div>
            </div>
            <div class="mission-item">
                <img src="../static/images/creating-mem-mom.png" alt="Creating Memorable Moments">
                <div class="content">
                    <h3>Creating Memorable Moments</h3>
                    <p>Dining at Finch & Goose is more than a meal; it’s a chance to create lasting memories with our welcoming ambiance and attentive service.</p>
                </div>
            </div>
            <div class="mission-item">
                <img src="../static/images/culture-of-ex.png" alt="Fostering a Culture of Excellence">
                <div class="content">
                    <h3>Fostering a Culture of Excellence</h3>
                    <p>Led by Chef Ramsey, our culinary team and front-of-house staff uphold high standards, ensuring continuous improvement and exceeding guests' expectations.</p>
                </div>
            </div>
            <div class="mission-item">
                <img src="../static/images/d+i.png" alt="Embracing Diversity and Inclusivity">
                <div class="content">
                    <h3>Embracing Diversity and Inclusivity</h3>
                    <p>We celebrate diversity in both our menu offerings and our team, fostering an inclusive environment where everyone feels valued and welcomed.</p>
                </div>
            </div>
             <div class="mission-item">
                <img src="../static/images/health-tech.png" alt="Health and Technology">
                <div class="content">
                    <h3>Health and Technology</h3>
                    <p>Combine nutritional science and technology to create data-driven, health-optimized meals that are delicious and support guests' well-being.</p>
                </div>
            </div>
        </div>
        <div class="mission-footer">
            <p class="text1">Join us on our journey. Whether you're a first-time visitor or a loyal patron, we invite you to join us at Finch & Goose for a culinary adventure like no other.</p>
            <p class="text1">Thank you for choosing Finch & Goose — where every meal is crafted with care and every guest is treated like family.</p>
            <a href="#" class="top-link"><img src="static/images/up-arrow.svg" alt="Return to Top"></a>
        </div>
    </section>

 <section id="facing-the-future">
                <h2>Facing the Future</h2>
                <div class="hero">
            <div class="hero-content">
                <h1>Welcome to the Future of Dining</h1>
                <p>Experience innovation and creativity in every dish.</p>
            </div>
        </div>
        <div class="aspect-grid">
            <div class="aspect-item">
                <div class="aspect-content">
                    <h2>Self-Cleaning Surfaces</h2>
                    <p> Enhancing Hygiene and Sustainability with Cutting-Edge Nano-Technology</p>
                    <img src="static/images/smart_tables.png" alt="tables" style=" width:300px; height:350px; border-radius: 0px; display: block; margin: 0 auto;">
                    <p>
                        Self-cleaning surfaces in our restaurant, enabled by cutting-edge nano-technology, represent a significant advancement in maintaining cleanliness and hygiene. These surfaces repel stains and sanitize tables, countertops, and floors between uses.
                        <span id="dots">...</span>
                        <span id="more" style="display:none;">
                        Sensors embedded within these surfaces detect spills and trigger automated cleaning processes, efficiently managing cleanliness without the need for harsh chemicals. This not only enhances the hygiene of our establishment but also aligns with our commitment to environmental sustainability. The automated cleaning mechanisms conserve water and materials, making the cleaning process both eco-friendly and efficient.
                        <br><br>
                        Moreover, this self-cleaning technology contributes to long-term cost savings by reducing the frequency of manual cleaning and the need for chemical cleaning agents. This ensures that our restaurant remains spotless and sanitary at all times, providing a consistently pristine dining experience for our patrons. The reduction in the use of harsh chemicals also means a healthier environment for both our staff and customers, minimizing exposure to potentially harmful substances.
                        </span>
                    </p>
                    <button onclick="myFunction()" id="myBtn">Read more</button>
                    <br>
                </div>
            </div>

            <div class="aspect-grid">
            <div class="aspect-item">
                <div class="aspect-content">
                    <h2>Holographic Menus</h2>
                    <p> Dining with Interactive 3D Visuals and Real-Time Translation</p>
                    <img src="static/images/holomenu.png" alt="menu" style=" width:300px; height:350px; border-radius: 0px; display: block; margin: 0 auto;" >
                    <p>
                        Implementing holographic menus here, at Finch And Goose, enhances the dining experience by offering interactive, 3D visuals of dishes, allowing guests to explore ingredients, preparation methods, and dietary information in an immersive and engaging manner.
                        <span id="dots1">...</span>
                        <span id="more1" style="display:none;">One of the standout features of holographic menus is their ability to offer real-time translation for international guests, breaking down language barriers and ensuring that all patrons can fully understand the menu offerings. Additionally, these menus display comprehensive nutritional facts, allergen warnings, and sourcing details, helping guests make informed choices that align with their dietary needs and preferences.

                                This innovative approach not only enhances the dining experience but also contributes to sustainability. By eliminating the need for printed menus, it significantly reduces printing costs and minimizes paper waste, supporting our commitment to environmentally friendly practices. The digital nature of holographic menus also allows for easy updates and modifications, ensuring that the menu always reflects the latest offerings without the need for reprinting.

                                Furthermore, holographic menus provide additional ambient content during wait times, keeping guests entertained and engaged. This can include chef’s specials, upcoming events, or even behind-the-scenes videos of the kitchen, adding an extra layer of interest and excitement to the dining experience.</span>
                    </p>
                    <button onclick="myFunction1()" id="myBtn1">Read more</button>
                    <br>
                </div>
            </div>
            </div>
            <div class="aspect-item">
                <div class="aspect-content">
                    <h2>And What Else?</h2>
                    <p>Of course, these aren't our only futuristic elements we have here at Finch And Goose.
                        <br>
                        Click below to find out more.</p>
                    <div class="cta1">
                            <p><a href="{{ url_for('andwhatelse') }}">Shaping the Future</a></p>
        </div>
                </div>
            </div>
        </div>
                <a href="#" class="top-link"><img src="static/images/up-arrow.svg" alt="Return to Top"></a>
            </section>

            <section id="meet-the-team">
                <h2>Meet The Team</h2>
    <section class="team-members">

        <div class="member">
            <div class="member-photo">
                 <img src="..\static\images\fng2.jpg" alt="fng">
            </div>
            <div class="member-info">
                <h2>Finch & Goose</h2>
                <h3>Owners</h3>
                <p>Welcome to Finch & Goose! I'm John Finch. My partner Steeve Goose and I offer a fun, flavorful dining experience. I craft cozy nooks and inventive dishes, while Steeve ensures everyone has a great time. Join us for a unique meal!</p>
                <ul class="social-links">
                     <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwih2ta9pKmHAxXD7rsIHWU3DG0QFnoECAoQAQ&url=https%3A%2F%2Fwww.facebook.com%2FFinchAndGoose%2F&usg=AOvVaw1ubkfPyoZFDXgigCJs_O8g&opi=89978449"><img src="..\static\images\facebook-icon.png" alt="facebook"></a>
                     <a href="#"><img src="..\static\images\x-icon.png" alt="twitter"></a>
                     <a href="#"><img src="..\static\images\instagram-icon.png" alt="instagram"></a>
                </ul>
            </div>
        </div>
        <div class="member">
            <div class="member-photo">
                <img src="..\static\images\charles.jpg" alt="charles">
            </div>
            <div class="member-info">
                <h2>Charlie</h2>
                <h3>General Manager</h3>
                <p>I'm Charlie. I balance creativity with top-notch hospitality. From overseeing operations to curating our menu, my passion for excellence ensures every guest has an unforgettable experience. Warmth, professionalism, and magic define us.</p>
                <ul class="social-links">
                    <a href="#"><img src="..\static\images\facebook-icon.png" alt="facebook"></a>
                    <a href="https://x.com/RoyalFamily?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="..\static\images\x-icon.png" alt="twitter"></a>
                    <a href="#"><img src="..\static\images\instagram-icon.png" alt="instagram"></a>
                </ul>
            </div>
        </div>
        <div class="member">
            <div class="member-photo">
                <img src="..\static\images\gordon2.jpg" alt="gordon">
            </div>
            <div class="member-info">
                <h2>Chef Ramsay</h2>
                <h3>Head Chef</h3>
                <p>Hello! I'm Gordon Ramsay, head chef. With a passion for culinary excellence, I lead our kitchen with creativity and precision. Every dish reflects my dedication, ensuring every guest has an extraordinary dining experience at our lakeside bistro.</p>
                <ul class="social-links">
                    <a href="https://www.facebook.com/gordonramsay/"><img src="..\static\images\facebook-icon.png" alt="facebook"></a>
                    <a href="https://x.com/GordonRamsay?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="..\static\images\x-icon.png" alt="twitter"></a>
                    <a href="#"><img src="..\static\images\instagram-icon.png" alt="instagram"></a>
                </ul>
            </div>
        </div>
       <div class="member">
            <div class="member-photo">
                 <img src="..\static\images\trump.jpg" alt="trump">
            </div>
            <div class="member-info">
                <h2>Donald</h2>
                <h3>Assistant Chef</h3>
                <p>I'm Donald, the Assistant Chef. My passion for fresh, local ingredients shines in every dish. Known for innovative recipes and bold flavors, I love experimenting to delight our guests. I ensure each meal is a delightful experience.</p>
                <ul class="social-links">
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiJv8L7pKmHAxXgyAIHHUYVCvYQFnoECBoQAQ&url=https%3A%2F%2Fwww.facebook.com%2FDonaldTrump%2F&usg=AOvVaw231-0Dla4f49WbiSDlWDsi&opi=89978449"><img src="..\static\images\facebook-icon.png" alt="facebook"></a>
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjewcW3pamHAxUFwQIHHcPLDG0QFnoECCAQAQ&url=https%3A%2F%2Ftwitter.com%2Frealdonaldtrump%3Flang%3Den&usg=AOvVaw1TYKKOHn_ihL1R6Ogx2T1P&opi=89978449"><img src="..\static\images\x-icon.png" alt="twitter"></a>
                    <a href="#"><img src="..\static\images\instagram-icon.png" alt="instagram"></a>
                </ul>
            </div>
        </div>
        <div class="member">
            <div class="member-photo">
                 <img src="..\static\images\einstein.jpg" alt="einstein">
            </div>
            <div class="member-info">
                <h2>Albert</h2>
                <h3>Bartender</h3>
                <p>I'm Albert, the bartender. I take pride in crafting every cocktail with flair and creativity. Known for my friendly demeanor and expert mixology skills, I ensure every drink is a memorable experience. Classic or custom, I've got you covered!</p>
                <ul class="social-links">
                    <a href="https://www.facebook.com/albert.einstein.fans/"><img src="..\static\images\facebook-icon.png" alt="facebook"></a>
                    <a href="https://x.com/AlbertEinstein?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="..\static\images\x-icon.png" alt="twitter"></a>
                    <a href="#"><img src="..\static\images\instagram-icon.png" alt="instagram"></a>
                </ul>
            </div>
        </div>
        <div class="member">
            <div class="member-photo">
                 <img src="..\static\images\margot.jpg" alt="margot">
            </div>
            <div class="member-info">
                <h2>Margaret</h2>
                <h3>Barista</h3>
                <p>I'm Margaret, the barista. With a passion for coffee and latte art, I transform each cup into a masterpiece. Whether you crave a rich espresso or a frothy cappuccino, I craft every drink with care, ensuring a delightful experience at our bistro.</p>
                <ul class="social-links">
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi8zd7npamHAxWw3AIHHfvLDagQFnoECBUQAQ&url=https%3A%2F%2Fwww.facebook.com%2FMargotRobbie%2F&usg=AOvVaw1a4bMA87P-9_9Tg_2pKJu8&opi=89978449"><img src="..\static\images\facebook-icon.png" alt="facebook"></a>
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwiE2435pamHAxVkxgIHHZDRDCEQFnoECBMQAQ&url=https%3A%2F%2Ftwitter.com%2Fmargotroobbie%3Flang%3Den&usg=AOvVaw2pB8DGbi-OH7y1vlqSdjK6&opi=89978449"><img src="..\static\images\x-icon.png" alt="twitter"></a>
                    <a href="#"><img src="..\static\images\instagram-icon.png" alt="instagram"></a>
                </ul>
            </div>
        </div>
        <div class="member">
            <div class="member-photo">
                 <img src="..\static\images\mj.jpg" alt="mj">
            </div>
            <div class="member-info">
                <h2>Mj</h2>
                <h3>Cleaner</h3>
                <p>Hey there, I'm MJ, your friendly cleaner. I keep our cozy spot spotless, tidying tables and ensuring every corner shines. With a keen eye for detail and a love for making things sparkle, I'm here to enhance your dining experience. See you around!</p>
                <ul class="social-links">
                    <a href="https://www.facebook.com/michaeljackson/"><img src="..\static\images\facebook-icon.png" alt="facebook"></a>
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwilkragpqmHAxUszgIHHYfoDIIQ6F56BAgREAE&url=https%3A%2F%2Ftwitter.com%2Fmichaeljackson%3Fref_src%3Dtwsrc%255Egoogle%257Ctwcamp%255Eserp%257Ctwgr%255Eauthor&usg=AOvVaw0mtt_Eutd1j8szn6y4rjG5&opi=89978449"><img src="..\static\images\x-icon.png" alt="twitter"></a>
                    <a href="#"><img src="..\static\images\instagram-icon.png" alt="instagram"></a>
                </ul>
            </div>
        </div>
        <div class="member">
            <div class="member-photo">
                 <img src="..\static\images\kris.jpg" alt="kris">
            </div>
            <div class="member-info">
                <h2>Kris</h2>
                <h3>Dishwasher</h3>
                <p>Heya, I'm Kris. I keep our kitchen running smoothly by ensuring dishes are sparkling clean and ready for service. With diligence and attention to detail, I maintain our high standards, ensuring every guest enjoys a seamless dining experience.
 </p>
                <ul class="social-links">
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwib8O64pqmHAxVD9gIHHSm6F8IQFnoECB8QAQ&url=https%3A%2F%2Fwww.facebook.com%2FKrisJenner%2F&usg=AOvVaw1WZV2eYM1qZZ6N3zjvBNlX&opi=89978449"><img src="..\static\images\facebook-icon.png" alt="facebook"></a>
                    <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwi6r5XGpqmHAxUE0wIHHSGrDgMQ6F56BAgJEAE&url=https%3A%2F%2Ftwitter.com%2FKrisJenner%3Fref_src%3Dtwsrc%255Egoogle%257Ctwcamp%255Eserp%257Ctwgr%255Eauthor&usg=AOvVaw3sOqChbo0gcID40ne-rbgC&opi=89978449"><img src="..\static\images\x-icon.png" alt="twitter"></a>
                    <a href="#"><img src="..\static\images\instagram-icon.png" alt="instagram"></a>
                </ul>
            </div>
        </div>
    </section>

                <a href="#" class="top-link"><img src="static/images/up-arrow.svg" alt="Return to Top"></a>
            </section>

     <section id="web-developers">
                <h2>Our Website Developers</h2>
      <div class="member101">
            <div class="member-photo">
                <img src="/static/images/aboutpage/team-pic.jpg" alt="developers">
            </div>
            <div class="member-info">
                <h2>Team Goose</h2>
                <h3>Website Developers</h3>
                <p>Meet our talented website developers at Finch & Goose Lakeside restaurant. They bring our vision to life online with their expertise and creativity. From designing user-friendly interfaces to ensuring a seamless browsing experience, they craft a digital space that reflects our unique charm and dedication to quality. Their hard work and innovation keep our website running smoothly, making it easy for you to explore our menu, book a table, and find out all about our events.</p>
                <ul class="social-links">
                    <a href="#"><img src="..\static\images\facebook-icon.png" alt="facebook"></a>
                    <a href="https://x.com/RoyalFamily?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img src="..\static\images\x-icon.png" alt="twitter"></a>
                    <a href="#"><img src="..\static\images\instagram-icon.png" alt="instagram"></a>
                </ul>
                <a href="#" class="top-link"><img src="static/images/up-arrow.svg" alt="Return to Top" height ='20px'></a>
            </div>
      </div>
     </section>


<section id="why-choose-us">
                <h2>Why Choose Us?</h2>
                    <div>
                        <ul>
                            <li class="text1"><b>Innovative Fusion Cuisine:</b> At Finch & Goose, we offer a one-of-a-kind dining experience with our innovative fusion of Finch-inspired delicacies and classic goose-centric dishes. Our menu is crafted to surprise and delight, showcasing a blend of traditional flavors with modern twists that cater to adventurous palates.</li>
                            <li class="text1"><b>Exceptional Dining Atmosphere:</b> Whether you're celebrating a special occasion or enjoying a casual meal with friends, our warm and inviting atmosphere sets the stage for an unforgettable dining experience. Our cozy dining space and attentive service create a welcoming environment where you can relax and enjoy your meal to the fullest.</li>
                            <li class="text1"><b>Quality Ingredients:</b> We pride ourselves on using only the freshest, locally sourced ingredients. From farm-fresh produce to sustainably raised meats, each dish at Finch & Goose is prepared with care and attention to detail, ensuring exceptional taste and nutritional value.</li>
                            <li class="text1"><b>Commitment to Sustainability:</b> We are dedicated to promoting sustainability in every aspect of our operations. From our eco-friendly practices in the kitchen to our support for local farmers and artisans, we strive to minimize our environmental impact while contributing positively to the community.</li>
                            <li class="text1"><b>Passionate Team:</b> Our team of culinary experts and hospitality professionals is passionate about delivering excellence in every aspect of your dining experience. From our talented chefs who bring creativity to the kitchen to our friendly servers who ensure your comfort, we are committed to exceeding your expectations with exceptional service.</li>
                        </ul>
                    </div>
                <a href="#" class="top-link"><img src="static/images/up-arrow.svg" alt="Return to Top" height ='20px'></a>
            </section>

        </div>
    </main>

</body>
{% endblock %}
