{% extends "layout.html" %}
{% block title %}Account Settings{% endblock %}
    
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/accountsettings.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

{% endblock %}

{% block content %}
<div class="sidebar">
    <a href="#account-details"><i class="fas fa-user icon"></i> Account Details</a>
    <a href="#preferences"><i class="fas fa-cog icon"></i> Preferences</a>
    <a href="#privacy"><i class="fas fa-lock icon"></i> Privacy Settings</a>
    <a href="#support"><i class="fas fa-headset icon"></i> Support and Feedback</a>
    <a href="#del-account"><i class="fas fa-trash icon"></i> Delete Account</a>
</div>

<div id="settings">
    <div id="account-details" class="section">
        <h2>Change Account Details</h2>
        <form id="details-form" action="/accountsettings" method="POST">
            <label for="email-change">Change Email:</label>
            <br>
            <input value="{{ Email }}" id="email-change" type="email" name="email-change">
            <br>

            <label for="password-change">Change Password:</label>
            <br>
            <input id="password-change" type="password" name="password-change">
            <br>
            <label for="confirm-password-change">Confirm Password:</label>
            <br>
            <input id="confirm-password-change" type="password" name="confirm-password-change">
            <br>

            <label for="phone-number-change">Change your Phone Number:</label>
            <br>
            <input id="phone-number-change" type="text" name="phone-number-change">
            <br>

            <p id="password-error" hidden>*Your passwords don't match</p>
            <input type="submit" value="Confirm Changes">
        </form>
        <script>
            const input_password = document.getElementById("password-change");
            const check_password = document.getElementById("confirm-password-change");
            const password_submit = document.getElementById("details-form");
            const error_message = document.getElementById("password-error");

            password_submit.addEventListener("submit", (e) => {
                if (input_password.value !== check_password.value) {
                    e.preventDefault();
                    error_message.hidden = false;
                }
            });
        </script>
    </div>

    <div id="preferences" class="section">
        <h2>Change Preferences</h2>
        <form id="preferences-form" action="/accountsettings" method="POST">
            <label for="marketing-emails">Receive Marketing Emails</label>
            <input type="checkbox" id="marketing-emails" name="marketing-emails" value="marketing-emails">
            <br>
            <label for="event-emails">Receive Event Emails</label>
            <input type="checkbox" id="event-emails" name="event-emails" value="event-emails">
            <br>
            <label for="deal-emails">Receive Deals Emails</label>
            <input type="checkbox" id="deal-emails" name="deal-emails" value="deal-emails">
            <br>
            <label for="reward-emails">Receive Customer Rewards Emails</label>
            <input type="checkbox" id="reward-emails" name="reward-emails" value="reward-emails">
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>

  <div id="privacy" class="section">
    <h2>Privacy Settings</h2>
    <div class="accordion">
        <div class="accordion-item">
            <div class="accordion-header">
                <label for="profile-visibility-switch"><b>Profile Visibility</b></label>
                <div class="switch">
                    <input type="checkbox" id="profile-visibility-switch" class="switch-input">
                    <label for="profile-visibility-switch" class="switch-label" data-on="Public" data-off="Private"></label>
                </div>
            </div>
            <div class="accordion-content">
                <p>Control who can see your profile. Public makes your profile visible to everyone, while Private restricts it to only your contacts.</p>
            </div>
        </div>
        <div class="accordion-item">
            <div class="accordion-header">
                <label for="email-visibility-switch"><b>Email Visibility</b></label>
                <div class="switch">
                    <input type="checkbox" id="email-visibility-switch" class="switch-input">
                    <label for="email-visibility-switch" class="switch-label" data-on="Public" data-off="Private"></label>
                </div>
            </div>
            <div class="accordion-content">
                <p>Control who can see your email address. Public makes your email visible to everyone, while Private restricts it to only your contacts.</p>
            </div>
        </div>
    </div>
      <br>
    <input type="submit" value="Save Settings" id="save-privacy-settings">

    <div id="confirmation-modal" class="modal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <p>Are you sure you want to save these settings?</p>
            <button id="confirm-save">Yes</button>
            <button id="cancel-save">No</button>
        </div>
    </div>
</div>



    <div id="support" class="section">
        <h2>Support and Feedback</h2>
        <form id="support-form" action="/accountsettings" method="POST">
            <label for="email-feedback">Please enter your email:</label>
            <textarea id="email-feedback" name="email-feedback" rows="1" cols="50" placeholder="Please enter email here..."></textarea>
            <br>
            <label for="support-message">Please enter your feedback:</label>
            <textarea id="support-message" name="support-message" rows="4" cols="50" placeholder="Please enter feedback here..."></textarea>
            <br>
            <input type="submit" value="Submit feedback">
        </form>
    </div>

  <div id="del-account" class="section">
    <h2>Delete Account</h2>
    <form id="delete-account-form" action="/api/accountsettings/deleteaccount" method="POST" id="passmatch">
        <input type="submit" id="delete-account" name="delete-account" value="Delete Account">
        <div id="password-extension" class="extension">
            <label for="password">Enter Account Password:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit"  value="Confirm Delete Account" >
        </div>
    </form>
</div>

    <script>
    document.getElementById("delete-account").addEventListener("click", function(event) {
        event.preventDefault();

        event.target.style.display = "none";

        var extension = document.getElementById("password-extension");
        extension.style.display = "block";
    });
</script>

</div>

{% endblock %}
