{% extends "layout.html" %}
{% block title %}Manage Users{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_contact.css') }}">
{% endblock %}
{% block content %}

<a id="back-button" href="{{ url_for('admin_page') }}">Back</a>
<h1>Contact</h1>
<div id="contact-container">
    
    {% for contact in contacts %}
        <div class="contact">
            <h3>{{ contact.fname.capitalize() }} {{ contact.lname.capitalize() }} <small>({{ contact.email }})</small></h3>
            <div class="contact-content">
                {{ contact.complaint }}
            </div>

            <div class="contact-buttons">
                <form title="Delete" action="{{ url_for('delete_complaint', complaint_id=contact.id) }}", method="POST">
                    <input type="submit" value="">
                    <img src="{{ url_for('static', filename='images/cancel-button.svg') }}" alt="Delete">
                </form>
                <form title="Mark as resolved" action="{{ url_for('resolve_complaint', complaint_id=contact.id) }}", method="POST">
                    <input type="submit" value="">
                    <img src="{{ url_for('static', filename='images/check.svg') }}" alt="Resolve">
                </form>
            </div>
        </div>
        <br>
    {% endfor %}
</div>

{% endblock %}