{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
    
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block content %}
<div id="admin-title">
    <h1>Admin Panel</h1>
    <h2 id="current-user">Logged in as {{ current_user }}</h2>
</div>
<div id="admin-tabs">
    <form class="admin-form" action="/admin/tables">
        <label for="tables-link">Edit Table Layout</label>
        <br>
        <input class="admin-input" id="tables-link" type="submit" value="Go">
    </form>
    <form class="admin-form" action="/admin/users">
        <label for="users-link">Manage Users</label>
        <br>
        <input class="admin-input" id="users-link" type="submit" value="Go">
    </form>
    <form class="admin-form" action="/admin/contact">
        <label for="contact-link">View Contact Form</label>
        <br>
        <input class="admin-input" id="contact-link" type="submit" value="Go">
    </form>
</div>
{% endblock %}