{% extends "layout.html" %}
{% block title %}Admin{% endblock %}
    
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% endblock %}
{% block content %}
<div id="admin-title">
    <h1>Admin Panel</h1>
    <h2 id="current-user">Logged in as {{ current_user }}</h2>
</div>
<div id="admin-tabs">
    <a class="admin-link" href="/admin/tables">Edit Table Layout</a>
    <a class="admin-link" href="/admin/users">Manage Users</a>
    <a class="admin-link" href="/admin/contact">View Contact Forms</a>
</div>
{% endblock %}