{% extends "layout.html" %}
{% block title %}Admin View{% endblock %}
{% block head %}
  {{ super() }}

    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\adminreviews.css">
    <script src="{{ url_for('static', filename='') }}"></script>

  {% endblock %}
{% block content %}
<body>
  <header>
      <h1>Customer Reviews</h1>
  </header>
  <main>
      <div class="reviews-container">
        <h2>Current Bookings</h2>
            <div class="customer-reviews">
                <h3>Name- ""</h3>
                <p><strong>Heading:</strong> </p>
                <p><strong>Message:</strong> </p>
                <p><strong>Star Rating:</strong> </p>
                <button type="button" class="delete" ><img src="static/images/delete.svg" alt="Delete"><span class="deletereview">Delete Booking</span></button>
            </div>
        </div>
      <button class="load-more">Load More Reviews</button>
  </main>

</body>
{% endblock %}