{% extends "layout.html" %}
{% block title%}And What Else?{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="viewport" content="width = device-width, initial-scale=5.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/andwhatelse.css')}}">
{% endblock %}
    {% block content %}
    <section id="about" class="about-section">
        <div class="about-header">
            <h2>And What Else?</h2>
            <p> Digitizing The Restaurant Economy here at Finch & Goose.</p>
        </div>
        <div class="about-items">
            <div class="about-item aspect-item">
                <div class="content aspect-content">
                    <h3>AI-Powered Culinary Assistants</h3>
                    <p>Advanced AI systems can assist chefs in the kitchen by optimizing recipes, suggesting ingredient combinations, and even controlling cooking techniques to ensure consistent quality.</p>
                </div>
            </div>
            <div>
             <img src="../static/images/aboutpage/ai-powered.png" class="ai-powered" style=" width:235px; height:210px; border-radius: 15px; display: block; margin: 0 auto float:left;">
            </div>
            <div class="about-item aspect-item">
                <div class="content aspect-content">

                    <h3>Drone-Delivered Orders</h3>
                    <p>For large or multi-level restaurants, drones can be used to deliver food and beverages directly to tables, adding a high-tech touch and improving service efficiency.</p>
                </div>
            </div>

            <img src="../static/images/aboutpage/drone-delivery2.png" class="drone" style=" width:235px; height:210px; border-radius: 15px; display: block; margin: 0 auto float:left;">
            <div class="about-item aspect-item">
                <div class="content aspect-content">
                    <h3>Wearable Technology For Staff</h3>
                    <p>Equip staff with wearable devices like smartwatches or AR glasses to streamline communication, track orders, and enhance customer service by providing real-time information and updates.</p>
                </div>
            </div>
            <img src="../static/images/aboutpage/wearable-tech.png" class="weartech" style=" width:235px; height:210px; border-radius: 15px; display: block; margin: 0 auto float:left;">
            <div class="about-item aspect-item">
                <div class="content aspect-content">
                    <h3>Personalised Soundscapes</h3>
                    <p>Individualized sound zones created through directional speakers that allow each table to have its own unique soundtrack or audio experience without disturbing other diners.</p>
                </div>
            </div>
            <img src="../static/images/aboutpage/soundscape.png" class="soundscapes" style=" width:235px; height:210px; border-radius: 15px; display: block; margin: 0 auto float:left;">
            <div class="about-item aspect-item">
                <div class="content aspect-content">
                    <h3>Self-Adjusting Furniture</h3>
                    <p>Smart tables and chairs that adjust their height, temperature, and seating comfort based on the preferences of the diners, ensuring an optimal dining experience.</p>
                </div>
            </div>
            <img src="../static/images/aboutpage/furniture.png" class="furniture" style=" width:235px; height:210px; border-radius: 15px; display: block; margin: 0 auto float:left;">
            <div class="about-item aspect-item">
                <div class="content aspect-content">
                    <h3>Biometric Payment</h3>
                    <p>Biometric payments use unique physical traits like fingerprints or facial recognition for secure, quick transactions, enhancing convenience and reducing contact in restaurants.</p>
                </div>
            </div>
            <img src="../static/images/aboutpage/biometric-pay.png" class="biometricpay" style=" width:235px; height:210px; border-radius: 15px; display: block; margin: 0 auto float:left;">
            <div class="about-item aspect-item">
                <div class="content aspect-content">
                    <h3>Immersive Scenery</h3>
                    <p>Immersive scenery in a restaurant uses advanced projection and VR/AR technology to transform the dining environment into various thematic settings, enhancing the overall dining experience with visually engaging and dynamic backgrounds.</p>
                </div>
            </div>
            <img src="../static/images/aboutpage/immersive.png" class="scenery" style=" width:235px; height:210px; border-radius: 15px; display: block; margin: 0 auto float:left;">
            <div class="about-item aspect-item">
                <div class="content aspect-content">
                    <h3>Robotic Waiters</h3>
                    <p>Robotic waiters in a restaurant autonomously deliver food and drinks to tables using advanced navigation systems. They enhance efficiency, reduce labor costs, and provide a unique, high-tech dining experience.</p>
                </div>
        </div>
            <img src="../static/images/aboutpage/robot2.png" class="waiters" style=" width:235px; height:210px; border-radius: 15px; display: block; margin: 0 auto float:left;">

            <div class="about-item aspect-item">
                <div class="content aspect-content">
                    <h3>Ai-Powered Dining Assistant</h3>
                    <p>We've introduced "Feather," our AI-powered dining assistant. It recommends dishes based on your preferences and dietary needs, provides menu details & suggests wine pairings. A personalized experience.</p>
                </div>
            </div>
            <img src="../static/images/aboutpage/futuristic.png" class="futuristic" style=" width:235px; height:210px; border-radius: 15px; display: block; margin: 0 auto float:left;">



        </div>
        <div class="cta">
            <a href="https://blog.grubtech.com/post/the-future-of-dining-how-technology-is-shaping-the-restaurant-industry" class="cta-button">Discover More </a>
        <br><br><br>
            <div class="btnback">
                <a href="{{ url_for('about') }}"><img src="../static/images/aboutpage/icons8-left-48.png" class="return";></a>
            </div>
        </div>

    </section>
    {% endblock %}
