{% extends "layout.html" %}
{% block title %}Bookings{% endblock %}
{% block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
{% endblock %}
{% block content %}
<form id="create_form" action="/" method="post">
    <label for="first_name">First Name:</label>
    <input type="text" id="first_name" name="first_name" placeholder="Enter first name.."><br>

    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" name="last_name" placeholder="Enter last name.."><br>

    <label for="time">Time:</label>
    <select name ="time" id = "time">
        <option value ="12">12:00</option>
        <option value ="12.5">12:30</option>
        <option value ="13">13:00</option>
        <option value ="13.5">13:30</option>
        <option value ="14">14:00</option>
        <option value ="14.5">14:30</option>
        <option value ="15">15:00</option>
        <option value ="15.5">15:30</option>
        <option value ="16">16:00</option>
        <option value ="16.5">16:30</option>
        <option value ="17">17:00</option>
        <option value ="17.5">17:30</option>
        <option value ="18">18:00</option>
        <option value ="18.5">18:30</option>
        <option value ="19">19:00</option>
        <option value ="19.5">19:30</option>
        <option value ="20">20:00</option>
        <option value ="20.5">20:30</option>
        <option value ="21">21:00</option>
        <option value ="21.5">21:30</option>
        <option value ="22">22:00</option>
    </select>

    <label for="date">Date:</label>
    <input type="date" id="date" name="date" placeholder="Enter your desired date.."><br>

    <label for="phone.no">Phone Number:</label>
    <input type="text" id="phone.no" name="phone.no" placeholder="Enter your phone number.."><br>

    <button type="button" onclick="table()">Book a Table</button><br>

    <input type="submit" onclick="submit" value="Submit Booking"><br>

    <div id="image-container"></div>
</form>

<script>
        function submit() {
            alert("Table booked!");
        }

        function table() {
            // Get the image container
            var container = document.getElementById('image-container');

            // Create the image element
            var img = document.createElement('img');
            img.src = 'static/images/birdseyeview.jpg'; // Replace with the path to your image
            img.alt = 'Birdseye View';

            // Clear any existing image and append the new image
            container.innerHTML = '';
            container.appendChild(img);
        }

    </script>
{% endblock %}

