{% extends "layout.html" %}
{% block title %}Reservations{% endblock %}
{% block head%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookingview.css') }}">
    <script src="{{ url_for('static', filename='js/booking_view.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="header">
        <h1>Reservations {{ date.strftime("%Y-%m-%d") }}</h1>
        <form id="date-form" action="{{ url_for('view_bookings') }}" method="GET">
            <input id="date-input" type="date" name="date" value="{{ date }}">
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                {% for i in range(1, table_bookings|length + 1) %}
                    <th>Table {{ i }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for i in range(time_list|length - 1) %}
                <tr>
                    <td>{{ time_list[i] }} - {{ time_list[i + 1] }}</td>
                    {% for table in table_bookings %}
                        {% for booking in table if booking["start_time"] <= time_list[i] < booking["end_time"] %}
                            <td class="booked" style="background-color: hsl({{ booking['color'] }}, 70%, 55%);" data-id="{{ booking['booking_id'] }}"></td>
                        {% else %}
                            <td></td>
                        {% endfor %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="popup" hidden>
        <div id="popup-close-button">×</div>
        <h3>Reservation <span id="popup-reservation-id">X</span></h3>
        <p>Time: <span id="popup-time">XX:XX - XX:XX</span></p>
        <p>Name: <span id="popup-name">John Doe</span></p>
        <p>Phone Number: <span id="popup-phone-number">1111111111</span></p>
        <form id="cancel" action="", method="POST">
            <input type="submit" value="">
            <img src="static/images/delete.svg" alt="Cancel">
        </form>
    </div>
{% endblock %}