{% extends "layout.html" %}
{% block title %}Giftcard{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/cart.css">
{% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Container 1 is the green box on the left -->
<div class="container1">

    <!-- order summary box -->
    <div class="container01">
    <h1 class="section_title">Order Summary</h1>
    </div>

    <!-- list of purchased items box -->
<div class="container02">
    <form  action="/cart" method="post">
    <h1 class="section_title">Ferret and Goose Giftcard</h1>
    <h2><p><strong>Value:</strong> {{ giftcard_value }}</p></h2>
    <h2><p><strong>First Name:</strong> {{ giftcard_firstname }}</p></h2>
    <h2><p><strong>Last Name:</strong> {{ giftcard_lastname }} </p></h2>
    <h2><p><strong>Email:</strong> {{ giftcard_email }}</p></h2>
    <h2><p><strong>Recipient:</strong> {{ giftcard_recipient }}</p></h2>
    <h2><p><strong>Gifter:</strong> {{ giftcard_gifter }}</p></h2>
    </form>
</div>
</div>


<!-- green box on right -->
<div class="container2">
    <div class="container03">
 <h1 class="section_title"> Checkout </h1>
        </div>
    <form action="{{ url_for('cart') }}" method="POST" id="cartform">
<!-- Hidden fields to pass data from container02 -->
<input type="hidden" name="giftcard_value" value="{{ giftcard_value }}">
<input type="hidden" name="giftcard_firstname" value="{{ giftcard_firstname }}">
<input type="hidden" name="giftcard_lastname" value="{{ giftcard_lastname }}">
<input type="hidden" name="giftcard_email" value="{{ giftcard_email }}">
<input type="hidden" name="giftcard_recipient" value="{{ giftcard_recipient }}">
<input type="hidden" name="giftcard_gifter" value="{{ giftcard_gifter }}">

    <!-- Select/choose amount option on the right side-->
    <label for="cart_country">Choose a Country:</label>
    <select id="cart_country" name="cart_country" form="cartform" >
      <option value="Select a Country below" disabled selected>Select the country your are from below ↓ </option>
      <option value="Republic of Ireland">Republic of Ireland</option>
      <option value="Northern Ireland">Northern Ireland</option>
      <option value="United Kingdom">United Kingdom</option>
      <option value="United States">United States</option>
    </select>

 <!-- All the green text boxes for the form -->
      <label for="cart_cardfullname">Enter your card's Full Name </label>
      <input type="text" id="cart_cardfullname" name="cart_cardfullname" placeholder="Enter your card's Full Name here">

      <label for="cart_cardnumber">Enter your Card Number</label>
      <input type="text" id="cart_cardnumber" name="cart_cardnumber" maxlength="16" placeholder="Enter your Card Number here">

      <label for="cart_cardcsc">Enter your CVC</label>
      <input type="text" id="cart_cardcsc" name="cart_cardcsc" maxlength="3" placeholder="Enter your CVC here">

      <label for="cart_expirydate">Enter the Expiry Date of the card </label>
      <input type="text" id="cart_expirydate" name="cart_expirydate" maxlength=5 placeholder="MM/YY">

      <input type="submit" value="Confirm Purchase">

</form>

</div>



{% endblock %}
