{% extends "layout.html" %}
{% block title %}Giftcard{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/cart.css">
{% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Container 1 is the green box on the left -->
<div class="container1">

    <!-- order summary box -->
    <div class="container01">
    <h1 class="section_title">Order Summary</h1>
    </div>


    <div class="container02">
    <h1 class="section_title">Finch and Goose Delivery</h1>
    <h2><p><strong>Name:</strong> {{ name }}</p></h2>
    <h2><p><strong>Address:</strong> {{ address }}</p></h2>
    <h2><p><strong>Phone Number:</strong> {{ phone_number }}</p></h2>
    <h2><p><strong>Order Details:</strong> {{ order_details }}</p></h2>
    <h2><p><strong>Specifications:</strong> {{ specifications }}</p></h2>
    </div>

</div>


<!-- green box on right -->
<div class="container2">
    <div class="container03">
 <h1 class="section_title"> Checkout </h1>
    </div>
    <form action="{{ url_for('cart') }}" method="POST" id="cartform">

    <!-- Select/choose amount option on the right side-->
    <label for="cart_country">Choose a Country:</label>
    <select id="cart_country" name="cart_country" form="cartform" >
      <option value="Select a Country below" disabled selected>Select the country your are from below ↓ </option>
      <option value="Republic of Ireland">Republic of Ireland</option>
      <option value="Northern Ireland">Northern Ireland</option>
      <option value="United Kingdom">United Kingdom</option>
      <option value="United States">United States</option>
    </select>

 <!-- All the green text boxes for the form -->
      <label for="cart_cardfullname">Enter your card's Full Name</label>
      <input type="text" id="cart_cardfullname" name="cart_cardfullname" placeholder="Enter your card's Full Name here">

      <label for="cart_cardnumber">Enter your Card Number</label>
      <input type="text" id="cart_cardnumber" name="cart_cardnumber" maxlength="16" placeholder="Enter your Card Number here">

      <label for="cart_cardcsc">Enter your CVC</label>
      <input type="text" id="cart_cardcsc" name="cart_cardcsc" maxlength="3" placeholder="Enter your CVC here">

      <label for="cart_expirydate">Enter the Expiry Date of the card </label>
      <input type="text" id="cart_expirydate" name="cart_expirydate" maxlength=5 placeholder="MM/YY">


    <input type="submit" value="Confirm Purchase">
</div>



{% endblock %}
