{% extends "layout.html" %}
{% block title %}Forgot Password{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgotpassword.css') }}">
{% endblock %}
{% block content %}
<div class="card">
    <h1 class="section_title">Forgot Password?</h1>
    <form method="POST">
      <input type="email" id="email" name="email" placeholder="Please Enter Your Email.." required>
      <input type="submit" value="Send Link">
    </form>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
  </div>
{% endblock %}