<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="static\css\layout.css">
    <title>{% block title %}{% endblock %} - Ferret & Goose</title>
    {% endblock %}
  </head>
  <body>
    <nav>
        <div class="nav-element">
            <a href="{{ url_for('index') }}"><h1 id="title">Ferret & Goose</h1></a>
        </div>
        <div class="nav-element"><a href="{{ url_for('menu') }}">Menu</a></div>
        <div class="nav-element"><a href="{{ url_for('booking') }}">Make a booking</a></div>
        <div class="nav-element"><a href="{{ url_for('about') }}">About</a></div>
        <div class="nav-element"><a href="{{ url_for('contact') }}">Contact Us</a></div>
        <div class="nav-element"><a href="{{ url_for('reviews') }}">Reviews</a></div>
    </nav>
    <div id="navbar-spacer"></div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer-spacer"></div>
    <div id="footer">
        <div id="social-media">Follow us on all social media @ferretandgoose
          <br>
            <a href="https://x.com/"><img class="social-media-icon" id="X" src="static\images\x-icon.png"></a> 
            <a href="https://www.instagram.com/"><img class="social-media-icon" id="Instagram" src="static\images\instagram-icon.png"></a> 
            <a href="https://www.facebook.com/"><img class="social-media-icon" id="Facebook" src="static\images\facebook-icon.png"></a> 
        </div>
        <div id="mailing-list">
          Join our mailing list for coupons
          <br>
          <form id="email-input" method="POST" action="/mailinglist">
            <input type="email" id="email" name="email" placeholder="Enter email address..">

          </form>
        </div>
        <div id="copyright">
            <p>&copy; 2024 Ferret and Goose Ltd.</p>
        </div>
    </div>
  </body>
</html>