<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="static\css\layout.css">
    <title>{% block title %}{% endblock %} - Ferret & Goose</title>
    {% endblock %}
  </head>
  <body>
    <nav>
        <div class="nav-element">
            <h1>Ferret & Goose</h1>
        </div>
        <div class="nav-element"><a href="#">Menu</a></div>
        <div class="nav-element"><a href="#">Make a booking</a></div>
        <div class="nav-element"><a href="#">About</a></div>
        <div class="nav-element"><a href="#">Contact Us</a></div>
        <div class="nav-element"><a href="#">Reviews</a></div>
    </nav>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <div id="social-media">Follow us on all social media @ferretandgoose
          <br>
            <img class="social-media-icon" id="X" src="static\images\x-icon.png">
            <img class="social-media-icon" id="Instagram" src="static\images\instagram-icon.png">
            <img class="social-media-icon" id="Facebook" src="static\images\facebook-icon.png">
        </div>
    </div>
  </body>
</html>