<!doctype html>
<html>
    <head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <title>{% block title %}{% endblock %} - Ferret & Goose</title>
    {% endblock %}
    </head>
    <body>
        <nav>
            <div class="nav-element" id="logo">
                <a href="{{ url_for('index') }}" id="home-page-button">
                    <img src="{{ url_for('static', filename='images/ferret&goose-logo-white.png') }}" class="small-image">
                </a>
            </div>
            <div class="nav-element"><a href="{{ url_for('menu') }}">Menu</a></div>
            <div class="nav-element"><a href="{{ url_for('booking') }}">Reservations</a></div>
            <div class="nav-element"><a href="{{ url_for('about') }}">About</a></div>
            <div class="nav-element"><a href="{{ url_for('contact') }}">Contact</a></div>
            <div class="nav-element"><a href="{{ url_for('reviews') }}">Reviews</a></div>

            {% if not session["logged_in"] %}
                <div id="signup-tab" class="nav-element"><a href="{{ url_for('signup') }}">Sign Up</a></div>
                <div id="login-tab" class="nav-element"><a href="{{ url_for('login') }}">Log In</a></div>
            {% else %}
                <div id="account-tab" class="nav-element">
                    <div>Account</div>
                    <div id="account-dropdown">
                        <a href="/accountsettings">Account Settings</a>
                        <a href="/mybookings">My Bookings</a>
                        <form action="{{ url_for('logout') }}" method="POST">
                            <input type="submit" id="logout-button" value="Log Out">
                        </form>
                    </div>
                </div>
            {% endif %}
        </nav>
        <div id="navbar-spacer"></div>
    {% with messages = get_flashed_messages(with_categories=true) %}

        <ul id=flashes>
        {% for category, message in messages %}
            <li class="flash-{{ category }} flash">
                <div>{{ message }}</div>
                {% if category == "info" %}
                    <div class="x-button">×</div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>

    {% endwith %}
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer-spacer"></div>
        <div id="footer">
            <div id="social-media">Follow us on all social media @ferretandgoose
            <br>
                <a href="https://x.com/Ferret_nd_Goose"><img class="social-media-icon" id="X" src="{{ url_for('static', filename='images/x-icon.png') }}"></a>
                <a href="https://www.instagram.com/"><img class="social-media-icon" id="Instagram" src="{{ url_for('static', filename='images/instagram-icon.png') }}"></a>
                <a href="https://www.facebook.com/profile.php?id=61562048469025"><img class="social-media-icon" id="Facebook" src="{{ url_for('static', filename='images/facebook-icon.png') }}"></a>
            </div>
            <div id="addressj">Address:<br>
                <p>Chittagong 1023,</p>
                <p>Chittagong,</p>
                <p>Bangladesh</p>
            </div>
            <div id="mailing-list">
            Join our mailing list for coupons
            <br>
            <form id="email-input" method="POST" action="/mailinglist">
                <input type="email" id="email" name="email" placeholder="Enter email address..">

          </form>
        </div>
        <div id="hoursj">Opening Hours:<br>
            <p>Mon-Thur: 12:00pm-9:00pm</p>
            <p>Fri-Sun:12:00pm-10:30pm</p>
        </div>
        <div id="copyright">
            <p>&copy; 2024 Ferret & Goose Ltd.</p>
        </div>
    </div>
</body>
    <script>
        const flashes = Array.from(document.getElementsByClassName("flash"));
        const x_buttons = document.getElementsByClassName("x-button");

        const flash_delete_time = 6000;
        const flash_delete_stagger = 2000;

        function delete_flash_message(flash) {
            flash.classList.add("flash-fadeout");

            flash.addEventListener("animationend", () => {
                flash.remove();
            });
        }

        document.addEventListener("DOMContentLoaded", async () => {
            let num_infos = 0;

            for (let i = 0; i < flashes.length; i++) {
                if (flashes[i].classList.contains("flash-info")) {
                    num_infos++;
                    continue;
                }

                setTimeout(() => {
                    delete_flash_message(flashes[i])
                }, flash_delete_time + flash_delete_stagger * (i - num_infos));
            }
        });

        for (const x_button of x_buttons) {
            x_button.addEventListener("click", () => {
                delete_flash_message(x_button.parentElement);
            });
        }
    </script>
</html>