{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="static\css\login.css">
{% endblock %}
{% block content %}
<div class="form-wrapper">
    <h2>Log In</h2>
    <form action="{{ url_for('login') }}" method="POST">
        <div class="form-control">
            <input type="text" name="email" id="login-email" required>
            <label for="login-email">Email</label>
        </div>
        <div class="form-control">
            <input type="text" name="password" id="password" required>
            <label for="password">Password</label>
        </div>
        <button type="submit">Log in</button>
        <div class="form-help">
            <div class="remember-me">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <a href="#" style="color: #ffffff;">Need help?</a>
        </div>
    </form>
    <p>New to Ferret & Goose? <a href="/signup" style="color: #ffffff;">Sign up now</a></p>
</div>
{% endblock %}