{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\login.css">
{% endblock %}
{% block content %}
<div class="form-wrapper">
     <h2 class="section_title">Log In</h2>
    <form action="{{ url_for('login', next=next) }}" method="POST">
        <div class="form-control">
            <input type="text" name="email" id="login-email" required>
            <label for="login-email">Email</label>
        </div>
        <div class="form-control">
            <input type="password" name="password" id="password" required>
            <img class="password-eye" src="">
            <label for="password">Password</label>
        </div>
        <button type="submit">Log in</button>
        <div class="form-help">
            <div class="remember-me">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <a href="{{ url_for('forgotpassword') }}" style="color: #ffffff;">Forgot Password?</a>
        </div>
    </form>
    <p>New to Finch & Goose? <a href="/signup" style="color: #ffffff;">Sign up now</a></p>
</div>

<script>
    const show_password_buttons = document.getElementsByClassName("password-eye")
    for (const show_password_button of show_password_buttons) {
        show_password_button.addEventListener("click", () => {
            const input = show_password_button.previousElementSibling;
            if (input.type === "password") {
                input.type = "text";
            } else {
                input.type = "password";
            }
        });
    }
</script>
{% endblock %}