{% extends "layout.html" %}
{% block title %}Restaurant Menu{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mybookings.css') }}">
{% endblock %}
{% block content %}

<body>
    <div class="container">
        <h1>My Bookings</h1>

        <div class="booking-section">
            <h2>Current Bookings</h2>
            <div class="current-booking">
                <h3>Booking #12345</h3>
                <p><strong>Date:</strong> July 20, 2024</p>
                <p><strong>Time:</strong> 2:00 PM</p>
                <button type="button" class="cancel" ><img src="static/images/cancel-button.svg" alt="Cancel"><span class="cancelling">Cancel Booking</span></button>
            </div>
            <div class="current-booking">
                <h3>Booking #12346</h3>
                <p><strong>Date:</strong> July 22, 2024</p>
                <p><strong>Time:</strong> 11:00 AM</p>
                <button type="button" class="cancel" ><img src="static/images/cancel-button.svg" alt="Cancel"><span class="cancelling">Cancel Booking</span></button>
        </div>
        <a href="#" class="top-link"><img src="static/images/up-arrow.svg" alt="Return to Top"></a>
        <div class="booking-section">
            <h2>Previous Bookings</h2>
            <div class="previous-booking">
                <h3>Booking #12344</h3>
                <p><strong>Date:</strong> June 15, 2024</p>
                <p><strong>Time:</strong> 3:00 PM</p>
                 <button type="button" class="delete" ><img src="static/images/delete.svg" alt="Delete"><span class="del-booking">Delete Booking</span></button>
            </div>
            <div class="previous-booking">
                <h3>Booking #12343</h3>
                <p><strong>Date:</strong> May 10, 2024</p>
                <p><strong>Time:</strong> 10:00 AM</p>
                <button type="button" class="delete" ><img src="static/images/delete.svg" alt="Delete"><span class="del-booking">Delete Booking</span></button>
            </div>
              <a href="#" class="top-link"><img src="static/images/up-arrow.svg" alt="Return to Top"></a>

        </div>
    </div>
</body>
{% endblock %}