{% extends "layout.html" %}
{% block title %}Restaurant Menu{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mybookings.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <h1>My Bookings</h1>

    <div class="booking-section">
        <h2>Current Bookings</h2>
        {% for upcoming_booking in upcoming_bookings %}
            <div class="current-booking">
                <h3>Reservation - {{ upcoming_booking.start_time.strftime("%d %B %Y") }}</h3>
                <p><strong>Time:</strong> {{ upcoming_booking.start_time.strftime("%H:%M") }}</p>
                <p><strong>Table:</strong> {{ upcoming_booking.table_id }}</p>
                <button type="button" class="cancel" ><img src="static/images/cancel-button.svg" alt="Cancel"><span class="cancelling">Cancel Booking</span></button>
            </div>
        {% endfor %}
    </div>
    <div class="booking-section">
        <h2>Previous Bookings</h2>
        {% for past_booking in past_bookings %}
            <div class="previous-booking">
                    <h3>Reservation - {{ past_booking.start_time.strftime("%d %B %Y") }}</h3>
                    <p><strong>Time:</strong> {{ past_booking.start_time.strftime("%H:%M") }}</p>
                    <p><strong>Table:</strong> {{ past_booking.table_id }}</p>
                     <button type="button" class="delete" ><img src="static/images/delete.svg" alt="Delete"><span class="del-booking">Delete Booking</span></button>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}