{% extends "layout.html" %}
{% block title %}Forgot Password{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetpassword.css') }}">
{% endblock %}
{% block content %}
<div class="card">
    <h1 class="section_title">Reset Your Password</h1>
    <form method="POST">
      <input type="password" id="new_password" name="new_password" placeholder="Enter New Password.." pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&€£#^-_])[A-Za-z\d@$!%*?&€£#^-_]{8,64}" required>
      <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password.." required>
      <input type="submit" value="Reset Password">
    </form>
  </div>
{% endblock %}