{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block head %}
  {{ super() }}

    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\signup.css">
    <script src="{{ url_for('static', filename='js/signup.js') }}"></script>

  {% endblock %}
{% block content %}
<form id="create_form" action="{{ url_for('signup') }}" method="POST">
    <h2 class="section_title">Sign Up</h2>
    <label for="signup-first_name">First Name:</label>
    <input type="text" id="signup-first_name" name="first_name" placeholder="Enter first name.." required>

    <label for="signup-last_name">Last Name:</label>
    <input type="text" id="signup-last_name" name="last_name" placeholder="Enter last name.." required>

    <label for="signup-email">Email:</label>
    <input type="email" id="signup-email" name="email" placeholder="Enter email.." required>

    <div id="password-container">
        <label for="signup-password">Create Password:</label>
        <input type="password" id="signup-password" name="password" placeholder="Enter password.." pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&€£#^-_])[A-Za-z\d@$!%*?&€£#^-_]{8,64}" required>
        <img class="password-eye" src="">
        <div id="password-popup" class="popup">
            <p>Password must contain:</p>
            <ul class="requirements">
                <li id="length-req" class="req">At least 8 characters</li>
                <li id="lowercase-req" class="req">At least 1 lowercase letter</li>
                <li id="uppercase-req" class="req">At least 1 uppercase letter</li>
                <li id="number-req" class="req">At least 1 number</li>
                <li id="special-req" class="req">At least 1 special character</li>
            </ul>
        </div>
    </div>

    <div style="position: relative;">
        <label for="signup-confirm-password">Confirm Password:</label>
        <input type="password" id="signup-confirm-password" name="" placeholder="Enter password.." required>
        <img class="password-eye" src="">
        <div id="confirm-password-popup" class="popup">
            <ul class="requirements">
                <li id="match-req" class="req">Passwords must match</li>
            </ul>
        </div>
    </div>

 <input type="submit" value="Submit">

</form>
{% endblock %}