{% extends "layout.html" %}
{% block title %}Giftcard{% endblock %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="../static/css/thankyou.css">
{% endblock %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<center>
<div class="container1">
<h1 class="section_title"> Thank you for choosing Finch and Goose</h1>
    <h4></h4>

<form action="/">
<input type="submit" value="Bring me back to the homepage">
</form>

</div>
</center>


{% endblock %}